<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="javascript/client.js"></script>
    <link href="stylesheets/client.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/template" id="template-game">
      <div id='body_container' class='container-fluid'>
        <div class='row'>
          <div class='col-md-3'></div>
          <div class='col-md-6' id='scoreRegion'></div>
          <div class='col-md-3' id='occupiedRegion'></div>
        </div>
        <div class='row'>
          <div class='col-md-3' id='leftInfoRegion'></div>
          <div class='col-md-6 col-table'>
            <div class='ttable ttable-left' style='float:left'></div>
            <div class='ttable ttable-right' style='float:left'></div>
          </div>
          <div class='col-md-3' id='rightInfoRegion'></div>
        </div>
        <div class='row'>
          <div class='col-md-3'></div>
          <div class='col-md-6' id='serveRegion'></div>
          <div class='col-md-3'></div>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-score">
      <div class='score'>
        <h2>Score</h2>
        <br />
        <h2><%= left_score %> - <%= right_score %></h2>
      </div>
    </script>

    <script type="text/template" id="template-occupied">
      <div class='pull-right room room-<%= occupied_class() %>'>
        Room is <%= occupied_text() %><br />
        Since <%= occupied_since() %>
      </div>
    </script>

    <script type="text/template" id="template-left-info">
      <pre class='pull-left visible-lg-block'>
<%= logs() %>
      </pre>
      <div class='pull-right'>
        <div class='left-person'>
          <div class='player player-left'>
            <img src='<%= img_src %>' class='img-circle' />
            <h4><span class='label label-info'><%= name %></span></h4>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-right-info">
      <div class='pull-left'>
        <div class='right-person'>
          <div class='player player-right'>
            <img src='<%= img_src %>' class='img-circle' />
            <h4><span class='label label-info'><%= name %></span></h4>
          </div>
        </div>
      </div>
      <pre class='pull-right visible-lg-block'>
<%= logs() %>
      </pre>
    </script>

    <script type="text/template" id="template-serve">
      <div class='score'>
        <h2>Serving this point: <%= serving() %></h2>
      </div>
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">King Pong</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div id='bodyRegion'></div>
  </body>
</html>
